<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--配置集中管理属性 我们可以直接更改属性value的值 格式: ${name}-->
    <property name="patternConsole" value="%highlight([%-5level]) %d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %c %magenta(%M) %boldYellow(%L) %highlight(%m%n)"/>
    <property name="patternFile" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %c %M %L %m%n"/>


    <appender name="console" class = "ch.qos.logback.core.ConsoleAppender">
        <!--引用上面的属性 用${name}-->
        <encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${patternConsole}</pattern>
        </encoder>
    </appender>

    <property name="log_dir" value="/logs"/>

    <appender name="rollFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/roll_logback.log</file>
        <!--日志消息格式配置-->
        <encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${patternFile}</pattern>
        </encoder>
        <!--指定拆分规则-->
        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--按照文件大小拆分-->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <!--root logger-->
    <root level = "INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollFile"/>
    </root>
</configuration>